<section id="banner" class="clearfix" >
  <div id="banner_content_wrapper">
    <div id="content">
       <h2 class ="title">New Season Styles</h2>
       <%= link_to 'Shop Now', products_path, :class => "btn btn-secondary" %>
    </div>
  </div>
</section>

<section id="feature" class="clearfix">
    <div class="moment_wrapper">
       <div class="moment_image">
          <%= image_tag("guy.jpg") %>
       </div>
       <div class="moment_text">
         <h2>PROM KING</h2>
         <h4>Own your tux (and the dance floor)</h4>
         <%= link_to 'Shop Now', products_path, :class => "btn btn-secondary" %>
       </div>     
    </div>
    <div class="moment_wrapper">
       <div class="moment_image">
          <%= image_tag("girl.jpg") %>
       </div>
       <div class="moment_text">
          <h2>After Party</h2>
          <h4>Tiara-worthy looks for late-night style</h4>
          <%= link_to 'Shop Now', products_path, :class => "btn btn-secondary" %>    
       </div>     
    </div>
</section>

<section id="style_blog" class="clearfix">
   <h2 class="style_title">
     STYLE FEED
   </h2>
   <p class="style_paragraph">
     Style. Grooming. Inspiration. Advice
   </p>
   <div class="style_wrapper">
     <div class="style_content">
       <div class="style_image">
         <%= image_tag("kerry.jpg") %>
       </div>
       <div class="moment_text">
          <h4>After Party</h4>
          <p>Tiara-worthy looks for late-night style</p>         
       </div>
       <h5 class="date">April 4, 2017</h5>  
     </div>
     <div class="style_content">
       <div class="style_image">
         <%= image_tag("justin.jpg") %>
       </div>
       <div class="moment_text">
          <h4>After Party</h4>
          <p>Tiara-worthy looks for late-night style</p>         
       </div> 
       <h5 class="date">April 4, 2017</h5> 
     </div> 
     <div class="style_content">
       <div class="style_image">
         <%= image_tag("keira.jpg") %>
       </div>
       <div class="moment_text">
          <h4>After Party</h4>
          <p>Tiara-worthy looks for late-night style</p>         
       </div>  
       <h5 class="date">April 4, 2017</h5>
     </div>       
   </div>
</section>

