<p id="notice"><%= notice %></p>

<section id="core-product">
  <div class="image-content">
      <%= image_tag(@product.image_url, class: "img-thumbnail") %>
  </div>
  <div class="text-content">
     <h2 class="product_name">
      <%= @product.name %>
     </h2>
     <h3 class="product_price">
      $<%= @product.price %>
     </h3>
     <div class="product_color">
       <h3>COLOR:</h3>
       <p><%= @product.color %></p>
     </div>
     <div class="product_size">
      <h3 class="product_size">SIZE:</h3>
      <p><%= select_tag 'product.size', options_for_select(['XS','S','M','L','XL']),
         {include_blank: 'Please Select'} %></p>
     </div>
     <div class="product_description">
       <p><%= @product.description %></p>
     </div>
   </div>
</section>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
