<p id="notice"><%= notice %></p>

<section id="core-product">
  <div class="image-content">
      <%= image_tag(@product.image_url, class: "img-thumbnail") %>
  </div>
  <div class="text-content">
     <h2 class="product_name">
      <%= @product.name %>
    </h2>
     <h3 class="product_price">
      $<%= @product.price %>
    </h3>
    <h3 class="product_color">
      Color: <%= @product.color %>
    </h3>
    <p class="product_description">
     <%= @product.description %>
    </p>
    <p>
      <%= select_tag 'product.size', options_for_select(['XS','S','M','L','XL']) %>
    </p>

  </div>
</section>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %>
